img {
    width: 150px;
    background-color: chartreuse;
    
}
html {
    background-color: aqua;
}
p {
    background-color: beige;
}
.menu {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: darkblue;
    background-color: darkgrey;

}
.menu :hover {
    color: red;
}
#bold {
    font-weight: bold;
}
.oszlop {
    width: 100px;
}
h1 {
    align-content: center;
}